ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #15983A;
    width: 100%;

}

li {
    list-style-type: none;
    float: left;
}

li a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #15983A;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: auto;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color:#1bc14a;
}

#logo{
  align: center;
  text-align: center;
}

#logo_img {
  height: 91.2px;
  width: 333.2px;
}

#tree {
  z-index: 99999;
  align: center;
  margin-left:auto;
  margin-right:auto;
  position:absolute;
  left: 30%;
  top: 200px;
  width:596.4px;
  height:628.32px;

}


#pictures {
  background-color: /*#ffffff/*/#bfe4ff;
  align: center;
  text-align: center;
  height: 660px;
}

#deer {
   z-index: 200000000;
   width: 150px;
   height: 150px;
   position: absolute;
   left: 30%;
   top: 670px;
}

#birdy {
  width: 113.8px;
  height: 98.8;
  position: absolute;
  top: 200px;
  left: 1000px;
}
#cloud1 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 400px;
  left: 60%;
  z-index: 1;
}
#cloud2 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 250px;
  left: 2%;
}
#cloud3 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 200px;
  left: 75%;
}
#cloud4 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 150px;
  left: 20%;
}
#cloud5 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 180px;
  left: 10%;
}
#grass1 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 0%;
}
#grass2 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left:10%;
}
#grass3 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 20%;
}
#grass4 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 30%;
}
#grass5 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 40%;
}
#grass6 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left:50%;
}
#grass7{
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 60%;
}
#grass8 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 70%;
}
#grass9 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 80%;
}
#grass10 {
  width: 180px;
  height: 90px;
  position: absolute;
  top:760px;
  left: 87%;
}
#speech {
  width: 133.33px;
  height: 100.4667px;
  position: absolute;
  top: 605px;
  left: 27.5%;
}
h5{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 3pt;
color: #15983A;
}
