ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #15983A;
    width: 100%;

}

li {
    list-style-type: none;
    float: left;
}

li a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #15983A;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: auto;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color:#1bc14a;
}

#logo{
  align: center;
  text-align: center;
}

#logo_img {
  height: 91.2px;
  width: 333.2px;
}

#tree {
  /*z-index: -1;
  align: center;*/
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:596.4px;
  height:628.32px;

}

#pictures {
  background-color: /*#ffffff/*/#bfe4ff;
  align: center;
  text-align: center;
}

#deer {
   /*z-index: 1;*/
   width: 150px;
   height: 150px;
   position: absolute;
   left: 490px;
   top: 650px;
}

#birdy {
  width: 113.8px;
  height: 98.8;
  position: absolute;
  top: 200px;
  left: 1000px;
}
#cloud1 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 200px;
  left: 1000px;
}
#cloud2 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 200px;
  left: 50px;
}
#cloud3 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 200px;
  left: 1000px;
}
#cloud4 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 200px;
  left: 1000px;
}
#cloud4 {
  width: 262px;
  height: 263px;
  position: absolute;
  top: 200px;
  left: 1000px;
}
